<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'models' %}">Модели</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'feedback' %}">Обратная связь</a></li>
                <li><a href="{% url 'user_logout' %}">Выйти</a></li>
                {% else %}
                <li><a href="{% url 'registration' %}">Регистрация</a></li>
                <li><a href="{% url 'user_login' %}">Войти</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
       <div class="form-container">
    <h1>Регистрация</h1>
    <form id="registrationForm" method="post" onsubmit="return validateRegistrationForm()">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>
    </main>

    <footer>
        <p>&copy; 2025 Автомобильный портал</p>
    </footer>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>